.filter-button-wrapper {
  position: relative;
}

.filter-button {
  background: white;
  border: none;
  border-radius: 16px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.25) inset;
  cursor: pointer;
}

.filter-button img {
  width: 16px;
  height: 16px;
}

.filter-popup {
  position: absolute;
  top: 120%;
  right: 0;
  background: #dc0a2d;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  overflow: hidden;
  z-index: 10;
}
.filter-label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
  color: #333;
}

.filter-option {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  padding: 4px 0;
  cursor: pointer;
}

.filter-option input[type='radio'] {
  accent-color: #dc0a2d;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.filter-options {
  background-color: #f1f1f1;
  padding: 16px 20px;
}
