.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  font-family: 'Poppins', sans-serif;
}
h1 {
  font-size: 1.875rem;
  font-weight: 700;
  color: white;
}

.header-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.header-nav-top {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header {
  padding: 18px 16px 24px 16px;
  background-color: #DC0A2D;
}
.header-input {
  display: flex;
  align-items: flex-start;
  min-width: 300px;
  height: 30px;

  
  background: white;
  border: 1px solid gainsboro;
  border-radius: 20px;
  padding: 10px 10px 10px 40px;
  color: #000000;
  margin: 0;
}

.header-input-container {
  position: relative;
  width: 100%;
}


.header-input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  pointer-events: none; 
}
.header-filter {
  border: 1px solid white;
  border-radius: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
