.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  font-family: 'Poppins', sans-serif;
  padding: 0px 4px 4px 4px;
  background-color: #DC0A2D;
}
h1 {
  font-size: 1.875rem;
  font-weight: 700;
  color: white;
}

.header-top {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header {
  padding: 18px 12px 24px 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.header-input {
  border: none;
  outline: none;
  width: 100%;
}
.header-input-container {
  display: flex;
  background: #FFF;
  padding: 8px;
  align-items: center;
  border-radius: 16px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.25) inset;
  width: 100%;  
  gap: 8px;
}

.header-input-icon {
  width: 16px;
  height: 16px;
}

.header-search-wrapper {
  display: flex;
  gap: 8px;
  width: 100%;
}


@media screen and (min-width: 1440px) {
  .header {
    padding: 18px 400px 30px 400px;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
